{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Apache Log Parser{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>


<nav class="navbar navbar-inverse">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{%  url 'home' %}">Home</a></li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Site
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Add Site</a></li>
            <li><a href="#">List Of Sites</a></li>
          </ul>
        </li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Log Format
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logformat_add' %}">Add Log Format</a></li>
            <li><a href="{% url 'logformat_list' %}">List Log Formats</a></li>
          </ul>
        </li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Apache Logs
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Upload Log</a></li>
            <li><a href="">List of Logs</a></li>
            <li><a href="#">Report</a></li>
          </ul>
        </li>
      </ul>
    </div>

</nav>

<div class="container-fluid text-center">

  {% block body %}

  {% endblock %}
</div>

</body>
</html>