{% extends 'base.html' %}
{% load static %}

{% block body-content %}


<aside id="fh5co-hero" >
    <div class="flexslider">
        <div class="container col-md-12">
            home
            <!--<table id="example" class="table table-responsive table-striped table-hover"  width="90%">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>Position</th>-->
                    <!--<th>Office</th>-->
                    <!--<th>Extn.</th>-->
                    <!--<th>Start date</th>-->
                    <!--<th>Salary</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->

                <!--</tbody>-->
            <!--</table>-->
        </div>
    </div>
</aside>

{% endblock body-content %}
