{% extends 'base.html' %}
{% load static %}

{% block body-content %}


<aside id="fh5co-hero" >
    <div class="flexslider">
        <div class="container col-md-12">
            <table id="example" class="table table-responsive table-striped table-hover"  width="90%">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                <tr>
                    <td></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.url }}</td>
                    <td><i class="fa fa-pencil-square-o" aria-hidden="true">Edit</i></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</aside>

{% endblock body-content %}
