{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container" style="margin-top: 15px;">
<!-- Table -->
  <table class="table table-bordered table-striped table-hover">
   <tr>
        <td><strong>SN</strong></td>
        <td><strong>Site Names</strong></td>
        <td><strong>URL</strong></td>
        <td><strong>Action</strong></td>
   </tr>

      {% for ob in siteList %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ob.site_name}}</td>
            <td>{{ob.site_url}}</td>
            <td>
                <a href="{% url 'site_edit' ob.id %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button></a>
                <a href="{% url 'site_delete' ob.id %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></a>
            </td>
        </tr>
      {% endfor %}

   </table>
</div>
{% endblock %}